// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pointer-cursor{
  cursor:pointer;
}
.time-control{
  background-color: #5cb85c;
}
.no-bg-color{
  background-color: #fff !important;
  color: #333333;
}
